# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfplan
*.tfvars
*.tfvars.json
!environments/**/*.tfvars

# Keep lock file
!.terraform.lock.hcl

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db